/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap ');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import '~ngx-toastr/toastr';


body{
    padding:0;
    margin: 0;
    background: #eee;
    font-family: 'Open Sans', sans-serif;
}
.bg-light{
    background: #fff !important;
    padding: 20px;
    box-shadow: 1px 2px 4px 1px #ccc;
}
.searchBlock span {
    position: relative;
}
.searchBlock span i {
    position: absolute;
    top: 10px;
    left: 17px;
    color: #455;
}
.test.hide {
    display: none;
}
