<div class="search-container">
      <input type="text" placeholder="    Enter your delivary location" name="search" style="border: 1px solid #fc8019; width:485px;height: 61px;" >
      <button type="submit" class="button" style="background:#fc8019; height: 61px; width: 135px; color: white">FIND FOOD</button>
  </div>




<!-- <div class="searchBox">
<input type="text" placeholder="     Enter your delivary location" style="border: 1px solid #fc8019; width:485px;height: 60px;" >
<button style="background:#fc8019; height: 62px; width: 125px;">FIND FOOD</button>
</div> -->
