<div class="row">
    <div class="col-md-6" leftHomeBlock>
    <section>
        <header>
            <app-header></app-header>
        </header>
    </section>
    <div class="title">
    <h1>Hungry?</h1>
    <p>Order food from favourite restaurants near you.</p>
     <div><app-search></app-search></div>
     <p class="a" style="color:#a9abba">POPULAR CITIES IN INDIA</p>
     
     <div class="abc">
     <ul class="loc">
     <li class="location"> <a  href="">Ahmedabad</a></li>
     <li class="location"> <a class="a" href="" style="color:light" >Banglore</a></li>
     <li class="location"> <a href="">Chennai</a></li>
     <li class="location"> <a class="a" href="" style="color:light">Delhi</a></li>
     <li class="location"> <a  href="">Gurgon</a></li>
     <li class="location"> <a class="a" href="" style="color:light">Hyderabad</a></li>
     <li class="location"> <a href="">Kolkata</a></li>
     <li class="location"> <a  class="a" href="" style="color:light">Mumbai</a></li>
     <li class="location"> <a href="">Pune</a></li> <br>
     <li class="location"> <a class="a" href="" style="color:light">& more</a></li> 
     </ul>
    </div>
    </div>
</div>
    <div class="col-md-6" rightHomeBlock>
        <img  src="../../assets/images/homepage1.jfif">
    </div>
</div>

<footer>
    
        <img src="../../assets/images/f1.png" alt="">
        <img src="../../assets/images/f2.png" alt="">
        <img src="../../assets/images/f3.png" alt="">
</footer>
